{% extends "home/base.html" %}
{% load static %}
{% block head %}{% endblock head %}
{% block body %}
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">August 16, 2020</div>
                                            <div class="category"><a href="#">Aviation</a></div>
                                        </div>
                                        <h2><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy in the #unitedstates.</a></h2>
                                        <p> It seeks approval for a $1.5 billion recapitalization plan.
                                            The strategy includes debt restructuring for over 18 months. Under the plan, existing shareholders would contribute $750.6 million. #richardbranson 's Virgin Group would contribute $262 million and hedge fund Davidson Kempner would provide $188 million.</p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="#">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">August 16, 2020</div>
                                            <div class="category"><a href="#">Aviation</a></div>
                                        </div>
                                        <h2><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy in the #unitedstates.</a></h2>
                                        <p> It seeks approval for a $1.5 billion recapitalization plan.
                                            The strategy includes debt restructuring for over 18 months. Under the plan, existing shareholders would contribute $750.6 million. #richardbranson 's Virgin Group would contribute $262 million and hedge fund Davidson Kempner would provide $188 million.</p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="#">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">August 16, 2020</div>
                                            <div class="category"><a href="#">Aviation</a></div>
                                        </div>
                                        <h2><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy in the #unitedstates.</a></h2>
                                        <p> It seeks approval for a $1.5 billion recapitalization plan.
                                            The strategy includes debt restructuring for over 18 months. Under the plan, existing shareholders would contribute $750.6 million. #richardbranson 's Virgin Group would contribute $262 million and hedge fund Davidson Kempner would provide $188 million.</p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="#">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">August 16, 2020</div>
                                            <div class="category"><a href="#">Aviation</a></div>
                                        </div>
                                        <h2><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy in the #unitedstates.</a></h2>
                                        <p> It seeks approval for a $1.5 billion recapitalization plan.
                                            The strategy includes debt restructuring for over 18 months. Under the plan, existing shareholders would contribute $750.6 million. #richardbranson 's Virgin Group would contribute $262 million and hedge fund Davidson Kempner would provide $188 million.</p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i> <div>1263</div></a>
                                            <a class="btn btn-primary more" href="#">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                            <aside id="videos">
                                <h1 class="aside-title">Videos
                                    <div class="carousel-nav" id="video-list-nav1">
                                        <div class="prev"><i class="ion-ios-arrow-left"></i></div>
                                        <div class="next"><i class="ion-ios-arrow-right"></i></div>
                                    </div>
                                </h1>
                                <div class="aside-body">
                                    <ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav1"'>
                                        <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                                        <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                                        <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                <aside>
                    <h1 class="aside-title">Popular <a href="#" class="all">See All <i class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body">
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="single.html">
                                        <img src="{% static 'home/images/article.jpg' %}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="#">The London-based airline, #virginatlantic filed for #bankruptcy</a></h1>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Videos
                        <div class="carousel-nav" id="video-list-nav">
                            <div class="prev"><i class="ion-ios-arrow-left"></i></div>
                            <div class="next"><i class="ion-ios-arrow-right"></i></div>
                        </div>
                    </h1>
                    <div class="aside-body">
                        <ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

{% endblock body %}