{% extends 'home/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<section class="home">

    <div class="container">
        <div class="row">
            <!--Latest Stories-->
            <div class="col-md-8 col-sm-12 col-xs-12" style="padding-bottom: 10px;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" data-interval="True">
                    <div class="item active">
                        <img class="mySlides" src="{% static 'home/images/article.jpg' %}" alt="" style="width:100%;">
                      </div>
                      {% for image in carousel_image %}
                      <div class="item">
                        <img class="mySlides" src="{{ image.image.url }}" alt="" style="width:100%;">
                      </div>
                      {% endfor %}
<!--                   
                      <div class="item">
                        <img class="mySlides" src="{% static 'home/images/article.jpg' %}" alt="Chicago" style="width:100%;">
                      </div>

                      <div class="item">
                        <img class="mySlides" src="{% static 'home/images/article.jpg' %}" alt="New york" style="width:100%;">
                      </div> -->
                    </div>


                    <!-- Left and right controls -->


                </div>
            </div>
            <!--Sidebar-competition-->
            <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                <div class="sidebar-title for-tablet">Sidebar</div>
                <aside>
                    <h1 class="aside-title">Competitions <a href="{% url 'competition' %}" class="all">See All <i
                                class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body">
                        {% if competition_popular %}
                        {% for competition in competition_popular %}
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="{% url 'competition-detail' %}">
                                        <img src="{{ competition.blog_image.url }}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="articles/article.html">{{ competition.name }}</a></h1>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        {% endif %}

                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Trending Stories <a href="{% url 'competition' %}" class="all">See All <i
                                class="ion-ios-arrow-right"></i></a></h1>
                    <div class="aside-body">
                        {% if posts %}
                        {% for post in posts %}
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="articles/article.html">
                                        <img src="{{ post.blog_image.url }}" alt="Sample Article">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="articles/article.html">{{ post.title }}</a></h1>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                        {% endif %}

                    </div>
                </aside>
                <!-- <aside>
                    <h1 class="aside-title">Videos</h1>
                    <div class="carousel-nav" id="video-list-nav">
                        <div class="prev"><i class="ion-ios-arrow-left"></i></div>
                        <div class="next"><i class="ion-ios-arrow-right"></i></div>
                    </div>

                    <div class="aside-body">
                        <ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                            <li><a data-youtube-id="PJutG613i7E" data-action="new_tab"></a></li>
                        </ul>
                    </div>
                </aside> -->
            </div>


            <!--Latest Stories-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="aside-title">Latest Stories <span style="position: absolute; right: 20px;"><a
                            href="{% url 'latest-stories' %}" class="all">See All <i
                                class="ion-ios-arrow-right"></i></a></span></h5>
                <hr style="width: 5%; border: 2px solid #FC624D; text-align:left;margin-left:0">
                <div class="row">
                    {% if latest_story %}
                    {% for post in latest_popular %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{{ post.blog_image.url }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">{{ post.date_published }}</div>
                                            <div class="category"><a href="#"></a>{{ post.catagory }}</div>
                                        </div>
                                        <h2><a href="#">{{ post.title }}</a></h2>
                                        <p>{{ post.content|truncatechars:100 }} </p>
                                        <footer>
                                            {% if user.is_authenticated %}
                                            <a class="btn btn-primary more" href="{% url 'post-detail' post.id %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-primary more" href="{% url 'login' %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>



            <!--Startup Stories-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="aside-title">Startup Stories <span style="position: absolute; right: 20px;"><a
                            href="{% url 'startup-stories' %}" class="all">See All <i
                                class="ion-ios-arrow-right"></i></a></span></h5>
                <hr style="width: 5%; border: 2px solid #FC624D; text-align:left;margin-left:0">
                <div class="row">
                    {% if startup_story %}
                    {% for post in startup_popular %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{{ post.blog_image.url }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">{{ post.date_published }}</div>
                                            <div class="category"><a href="#"></a>{{ post.catagory }}</div>
                                        </div>
                                        <h2><a href="#">{{ post.title }}</a></h2>
                                        <p>{{ post.content|truncatechars:100 }} </p>
                                        <footer>
                                            {% if user.is_authenticated %}
                                            <a class="btn btn-primary more" href="{% url 'post-detail' post.id %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-primary more" href="{% url 'login' %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>


            <!--MBA Stories-->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="aside-title">MBA Stories <span style="position: absolute; right: 20px;"><a
                            href="{% url 'mba-stories' %}" class="all">See All <i
                                class="ion-ios-arrow-right"></i></a></span></h5>
                <hr style="width: 5%; border: 2px solid #FC624D; text-align:left;margin-left:0">
                <div class="row">
                    {% if mba_story %}
                    {% for post in mba_popular %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="row">
                            <article class="article col-md-12">
                                <div class="inner">
                                    <figure>
                                        <a href="#">
                                            <img src="{{ post.blog_image.url }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="padding">
                                        <div class="detail">
                                            <div class="time">{{ post.date_published }}</div>
                                            <div class="category"><a href="#"></a>{{ post.catagory }}</div>
                                        </div>
                                        <h2><a href="#">{{ post.title }}</a></h2>
                                        <p>{{ post.content|truncatechars:100 }} </p>
                                        <footer>
                                            {% if user.is_authenticated %}
                                            <a class="btn btn-primary more" href="{% url 'post-detail' post.id %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-primary more" href="{% url 'login' %}">
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}