{% extends 'home/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}
<section class="home" style="margin-top: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="row">
                    {% if posts %}
                        {% for post in posts %}
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <article class="article col-md-12">
                                        <div class="inner">
                                            <figure>
                                                <a href="#">
                                                    <img src="{{ post.blog_image.url }}" alt="Sample Article">
                                                </a>
                                            </figure>
                                            <div class="padding">
                                                <div class="detail">
                                                    <div class="time">{{ post.date_published }}</div>
                                                    <div class="category"><a href="#"></a>{{ post.catagory }}</div>
                                                </div>
                                                <h2><a href="#">{{ post.title }}</a></h2>
                                                <p>{{ post.content|truncatechars:100 }} </p>
                                                <footer>
                                                {% if user.is_authenticated %}
                                                    <a class="btn btn-primary more" href="{% url 'post-detail' post.id %}">
                                                        <div>More</div>
                                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                    </a>
                                                {% else %}
                                                    <a class="btn btn-primary more" href="{% url 'login' %}">
                                                        <div>More</div>
                                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                    </a>
                                                {% endif %}
                                                </footer>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}