{% extends 'home/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block head %}

  <script type="text/javascript">
    function add(a)
    {
      document.getElementById("id_check").value = a;
      document.getElementById("add_award").submit();
    }

  </script>
  <style type="text/css">
    #div_id_check{
      display: none;
    }
  </style>

{% endblock head %}
{% block body %}
<div
  class="main-content"
  style="
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    font-size: large;
  "
>
  <div class="content-section">
    <form method="POST" id="add_award">
      <ol>
        {% for p in prize %}
          <li>
            {{ p.title }} : {{ p.reward }}<a href="{% url 'award_delete' p.id comp.id %}">Delete</a>
          </li>
        {% endfor %}
      </ol>
      {% csrf_token %}
      <fieldset class="form-group">
        {{ form|crispy }}
      </fieldset>
      <div
        class="form-group"
        style=" width: 1000px; max-width: 70%; font-size: large;"
      >
        <button class="btn btn-outline-info" value = "add" type="button" onclick= "add(this.value)">Add Award</button>
        <button class="btn btn-outline-info" value = "submit" type="button" onclick="add(this.value)">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock body %}
