{% extends 'home/base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
		<section class="login first grey">
			<div class="container">
				<div class="box-wrapper">				
					<div class="box box-border" style="height: 380px;">
						<div class="box-body">
							<h4>Login</h4>
							<form class="form1" method="POST">
								{% csrf_token %}
								<br>
								{{ form|crispy }}
								<div class="form-group" >
									<input  type="submit" value="Login" class="btn btn-primary btn-block" />
								</div>
								<div class="form-group text-center">
									<span class="text-muted">Don't have an account?</span> <a href="{% url 'register' %}">Create one</a>
									<button><a href="{% provider_login_url "google" %}">Login With Google</a></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock body %}